<div class="container">
  <div class="row">
    <div data-ng-include=" 'app/templates/navbar.html' "></div>
  </div>
  <div class="row">
    <div id="contact" class="col-xs-12 col-sm-7">
      <h3>Sylwester Daniec </h3>
      <h4>ul. Lawendowa25, 20-827 Lublin</h4>
      <h4>Kom. 509 708 756</h4>
      <h4>Email: sylwester.daniec@gmail.com</h4>
    </div>
    <div class="col-xs-12 col-sm-5">
      <img class="profilePhoto" src="/app/images/daniec_photo.jpg" alt="Sylwester Daniec, zdjęcie">
    </div>
  </div>
  <div class="row">
    <div data-ng-include=" 'app/templates/footer.html' "></div>
  </div>
</div>
