<div class="container">
  <div class="row">
    <div data-ng-include=" 'app/templates/navbar.html' "></div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <header>
        <h1 id="header">Sylwester Daniec</h1>
      </header>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <p class="text">
        Nazywam się Sylwester Daniec, poniżej postaram się trochę przybliżyć swoją osobę. Praktycznie od dzieciństwa jestem zainteresowany nowymi technologiami, w&nbsp;których ciągle się rozwijam. Poniżej przedstawiam swoje umiejętności z&nbsp;którymi wiążę swoją przyszłość programistyczną. Cały czas jestem otwarty na wyzwania i&nbsp;nie mam zamiaru zamykać się wyłącznie w&nbsp;jednej dziedzinie. Wiele umiejętności interpersonalnych zdobyłem podczas swojej przygody w&nbsp;Lubelskim Klubie Futbolu Amerykańskiego Tytani Lublin. Stanowisko trenera, jak i&nbsp;członka zarządu pozwala mi na lepszą organizację swojego czasu oraz uświetnia moją pracę w&nbsp;grupie. Dzięki rozwojowi fizycznemu oraz zdobytymi tam umiejętnościami, pracuję lepiej w&nbsp;sferze zawodowej, poprzez transportację tych zdolności z&nbsp;boiska do biura.
      </p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <p class="text">
        Tytuł inżyniera obroniłem na Wyższej Szkole Przedsiębiorczości i&nbsp;Administracji w&nbsp;Lublinie, w&nbsp;roku 2018. Od tamtego czasu doszkalam się, poznaję i&nbsp;uczę się nowych technologii, we własnym zakresie. Podczas pracy, zarządzam swoim czasem aby zawsze wyrobić się w&nbsp;terminie i&nbsp;nie odkładać tego na później. Dzięki wolontariatowi w&nbsp;LKFA Tytani Lublin, poznałem wiele nowych osób, dzięki którym nauczyłem się sprawniejszej pracy w&nbsp;grupie, a&nbsp;stanowisko trenera pozwala mi zrozumieć jak dobrze kierować zespołem. Wiele umiejętności interpersonalnych zdobyłem jako członek zarządu, gdzie poznaje zasady zarządzania w&nbsp;klubie oraz zasobami ludzkimi. Dzięki tym umiejętnościom mogę zarządzać lepiej swoją pracą oraz w&nbsp;dużej mierze ułatwia mi to kontakt z&nbsp;klientem.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <img class="responsive" src="/app/images/daniec_photo_2.jpg" alt="Sylwester Daniec, zdjęcie z meczu">
    </div>
    <div class="col-xs-12 col-sm-6">
      <h3>Znane technologie</h3>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">
          HTML5
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
          CSS3
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
          JavaScript
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
          Bootstrap
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
          RWD
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
          WordPress
        </div>
      </div>
    </div>


  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>W trakcie nauki</h3>
      <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
          Angular 2+
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width:35%">
          PHP
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
          SQL/MySQL
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%">
          Magento 2
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div data-ng-include=" 'app/templates/footer.html' "></div>
</div>
</div>
