<div class="col-xs-12">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
                <span class="glyphicon glyphicon-menu-down"></span>
            </button>
        <a class="navbar-brand">
          <p class="color">Sylwester Daniec</p>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="nav">
        <ul class="nav navbar-nav">
          <li>
            <a href='#!home'>
              <p class="color"><span class="glyphicon glyphicon-home"></span> Opis</p>
            </a>
          </li>
          <li>
            <a href='#!map'>
              <p class="color"><span class="glyphicon glyphicon-list-alt"></span> Mapa</p>
            </a>
          </li>
          <li>
            <a href='#!contact'>
              <p class="color"><span class="glyphicon glyphicon-envelope"></span> Kontakt</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
